.table {
    text-align: left;
    margin: 1em 1em 1em;
    border-collapse: collapse;
    border: 1px solid rgb(209, 206, 206);
    border-radius: 8px;
    box-shadow: 0px 2px 6px 0px rgba(26, 24, 30, 0.04);
    overflow-y: scroll;
    justify-self: stretch;
    max-width: 60%;
}
.heading-row {
    background-color: #F2F2F2;
    color: #4D4D4D;
}
.heading-row th {
    padding: 0.5em;
}
.table-data {
    padding: 0.5em;
    border-bottom:1px solid rgb(209, 206, 206) ;
    font-size: 1.2em;
}
.icon-container {
    display: flex;
    justify-content: space-evenly;
    border-bottom:0px;
    align-content: center;
    align-items: center;
}
.edit:hover {
    cursor: pointer;
    color: rgb(62, 238, 62);
}
.delete:hover {
    cursor: pointer;
    color: rgb(239, 45, 45);
}